#top-navbar {
    margin-right: auto;
    margin-left: auto;
    text-align: start;
   background-color: #222
}

#top-navbar-links a {
    border-left: 1px solid black;
    padding-left: 3px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}
#top-navbar-links a:hover {
    color: #1a8e45;
}

.news_div {
    width: 72% !important;
}