#top-navbar {
    margin-right: auto;
    margin-left: auto;
    text-align: start;
    background-color: #222
}

#top-navbar-links a {
    border-left: 1px solid black;
    padding-left: 3px;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

#top-navbar-links a:hover {
    color: #1a8e45;
}

.news_div {
    width: 72% !important;
}

.feature_title {
    color: #dddddd !important;
}

#breadcrumbsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: .25rem;
    width: fit-content;

    .breadcrumb-item {
        display: flex;
        align-items: center;
        padding-right: 0.5rem;

        &+.breadcrumb-item::before {
            content: "/";
            display: inline-block;
            padding-right: 0.5rem;
            color: var(--primary-med-or-secondary-med);
            font-weight: normal;
        }

        .home {
            position: relative;
            padding-left: .5rem;
            padding-right: 0;
        }

        a {
            text-decoration: none;
            font-style: italic;

            &:hover {
                text-decoration: underline;
            }
        }

        &.active {
            color: var(--secondary);
            font-weight: bold;
        }
    }
}

.footer_container {
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    border: 1px solid #5c5c5c;
    width: 100% !important;
    padding-left: 11% !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    

    .breadcrumb-item {
        padding-right: 0.5rem;

        &+.breadcrumb-item::before {
            content: "/";
            display: inline-block;
            padding-right: 0.5rem;
            color: var(--primary-med-or-secondary-med);
            font-weight: normal;
        }

        .home {
            position: relative;
            padding-left: .5rem;
            padding-right: 0;
        }

        a {
            text-decoration: none;
            font-style: italic;

            &:hover {
                text-decoration: underline;
            }
        }

        &.active {
            color: var(--primary-medium);
            font-weight: bold;
        }
    }
}